.paginations {
	display: flex;
  align-items: center;
  justify-content: center;
	&-item {
    margin: 4px;
	}
  &-link{
    width: 30px;
		height: 30px;
    font-size: 14px;
		border-radius: 50px;
		border: 1px solid #e1ccba;
    display: flex;
		align-items: center;
		justify-content: center;
    color: #d7b898;
    padding: 4px;
    cursor: pointer;
    &.active{
      border-color: black;
      color:black;
    }
    &:hover{
      border-color: black;
    }
  }
}
