@import "../../../assets/scss/variables.scss";
.input{
  margin-bottom: 30px;
  &-title{
    margin-bottom: 6px;
    font-size: 14px;
  }
  input{
    width: 400px;
    height: 42px;
    border-radius: 6px;
    border: 1px solid #4a4a4a;
    text-indent: 6px;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}