.button {
  background-color: #232323;
  padding: 12px 24px;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  letter-spacing: 0.9px;
  transition: all .3s;
  text-transform: uppercase;
  margin-bottom: 10px;
  &:hover{
    background-color: #333333;
  }
}
